@media screen and (max-width: 850px) {
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
    .foot{
        text-align: center;
        align-items: center;
        width: 100%;
    }
    .foot .container{
        display: flex;
        width: 95%;
        margin: 0;
    }
    .box{
        flex-grow: 1;
    }
    .foot .copy{
        margin-top: 0;
    }
    .featured-image{
        width: 100%;
        max-height: 300px;
        object-fit: cover;
    }
    table{
        padding: 0;
    }
    th{
        padding-left: 0;
        text-align: left;
    }
    .top-bar h1{
        font-size: 40px;
    }
    nav{
        padding-left: 0;
        margin-left: 0;
    }
    .dropdown-content{
        display: block;
    }
    nav li{
        padding: 0;
        margin-right: 10px;
    }
    #mylinks{
        display: none;
    }
    #navbar a{
        font-size: 17px;
        display: block;
        padding: 14px 18px;
    }
    #navbar a.icon{
        background: lightgrey;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }
    #navbar a:hover{
        background-color: grey;
        color: black;
    }
    .active{
        background-color: black;
        color: white;
    }
    #navbar .right-nav{
        float: left;
        padding: 0;
    }
 }
 